<div class="nested-fields">
    <div class="form-inline">
        <%= f.label :song_order, '曲順' %>
        <%= f.number_field :song_order, class:"form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :name, "曲名" %>
        <%= f.text_field :name, class:"form-control" %>
    </div>
    <%= link_to_remove_association "この曲を削除", f, class:"btn btn-danger" %>
</div>