<% @items.each do |item| %>
    <tr>
        <td><%= item.artist.name%></td>
        <td><%= item.item_name%></td>
        <td><%= item.price%></td>
        <td><%= link_to "在庫追加", admin_arrival_new(item.id) %></td>
    </tr>
<% end %>

<%= paginate @items %>