<h1>User info</h1>
<%= form_for(@user) do |f| %>

 <h4>プロフィール画像</h4>
 <div class="form-group has-icon">
    <div class="user-edit-image">
        <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
    </div>
    <label class="control-label sr-only" for="user_profile_image">ProfileImage</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
</div>

  <h4>名前</h4>
  <%= f.text_field :first_name %><%= f.text_field :last_name %><br>
  <h4>名前（カナ）</h4>
  <%= f.text_field :kana_first %><%= f.text_field :kana_last %><br>
  <h4>メールアドレス</h4>
  <%= f.text_field :email %><br>
  <h4>住所</h4>
  <%= f.text_field :address %><br>
  <h4>郵便番号</h4>
  <%= f.text_field :postal_code %><br>
  <h4>電話番号</h4>
  <%= f.text_field :phone_number %>
  <h4>パスワード</h4>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-detail" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-detail" %>
  </div>

  <div class="edit-btn">
  <%= f.submit 'update user' %>
  </div>

<% end %>