<div class="row">
    <%= form_for(@genre, url: admin_genre_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
            <%= f.label :name, "ジャンル名" %>
            <%= f.text_field :name, class:"form-control" %>
        </div>
        <%= f.submit '編集', class:"btn btn-primary" %>
    <% end %>
</div>