<div class="row">
	<%= form_tag(confirm_orders_path) do %>
        <div class="col-md-offset-2 col-md-8">
            <%= current_user.first_name %> <%= current_user.last_name %>
            <%= select_tag :shopping_address, options_for_select(@addresses) %>
            <%= select_tag :payment_methods, options_for_select(Order.payment_methods.keys) %>
            </div>

        <div class="col-md-offset-2 col-md-8">
            <div class="cart-item-box">
                <% @user_cart_items.each do |cart_item| %>

                        <p><%= cart_item.item.item_name %></p>
                        <p>数量：<%= cart_item.quantity %></p>
                        <p>￥<%= (((cart_item.item.price * cart_item.quantity) * 1.08).floor).to_s(:delimited) %></p>

                <% end %>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-8">
            <div class="cart-price-box">
                <p>送料：  ￥500</p>
                <p>代引き手数料：  ￥150</p>
                <p>合計金額：  ￥<%= (@total_price + 500 + 150).to_s(:delimited)%></p>
            </div>

            <%= submit_tag '購入確認画面へ', class:"btn btn-primary" %>
        </div>
	<% end %>
</div>