<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <%= attachment_image_tag @contact.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:'50x50' %>
    </div>

    <div class="col-md-6">
        <p><%= @contact.user.first_name %> <%= @contact.user.last_name %></p>
        <p><%= @contact.user.email %></p>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-3">
        <p>Title</p>
    </div>

    <div class="col-md-4">
        <p><%= @contact.title %></p>
    </div>
</div>

<div class="row">
    <p>お問い合わせ内容</p>

    <div class="col-md-offset-3">
        <%= @contact.body %>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <%= form_tag(reply_admin_contacts_path) do %>
            <%= hidden_field_tag :contact, @contact.id %>
            <%= text_area_tag :reply %>

            <%= submit_tag '返信', class:"btn btn-primary" %>
        <% end %>
    </div>
</div>
