<div class="row">
    <% @user_cart_items.each do |cart_item| %>      
        <div class="row">
            <div class="col-md-4">
                <%= attachment_image_tag cart_item.item, :jacket_image, :fill, 50, 50 %>
            </div>


            <%#在庫数の計算 %>
            <% stock = 0 %>
            <% cart_item.item.arrivals.each do |item_arrival| %>
                <% stock += item_arrival.quantity %>
            <% end %>
            <% cart_item.item.orders_items.each do |order_item| %>
                <% stock -= order_item.quantity %>
            <% end %>
            

            <div class="col-md-4">
                <div>
                    <p><%= cart_item.item.item_name %></p>
                    <p><%= cart_item.item.artist.name %></p>
                    <p><%= cart_item.item.sales_management %></p>
                </div>

                <div>
                    <%= form_for(cart_item, url: cart_path(cart_item)) do |f| %>
                        <%= f.select :quantity, options_for_select((1..stock).to_a,
                                        cart_item.quantity) %>
                        <%= f.submit '変更', class:"btn btn-primary" %>
                    <% end %>
                </div>
            </div>


            <div class="col-md-4">
                <div>
                    <h3><%= ((cart_item.item.price * cart_item.quantity) * 1.08).floor %></h3>  #1.08
                </div>
                
                <div>
                    <%= link_to 'カートから削除', cart_path(cart_item), method: :delete %>  
                </div>
            </div>
        </div>
    <% end %>

    <div class="row">
        <h2>合計金額</h2>   
        <h2><%= @total_price %></h2> 
        <%= link_to '購入方法の選択', new_order_path, class:"btn btn-primary" %>
    </div>
</div>