<div class="row">
  <div class="col-md-6">
    <h2>発送先一覧</h2>
  </div>

  <div class="col-md-6">
    <%= link_to '発送先追加', new_shopping_address_path, class:"btn btn-primary" %>
  </div>
</div>

<div class="row">
  <% @shopping_addresses.each do |shopping_address| %>
    <div class="col-md-4">
      <p>発送先宛名</p>
      <p><%= shopping_address.shopping_first_name %><%= shopping_address.shopping_last_name %></p>

      <p>郵便番号</p>
      <p><%= shopping_address.shopping_addresses_postal_code %></p>

      <p>住所</p>
      <p><%= shopping_address.shopping_addresses_address %></p>

      <p>電話番号</p>
      <p><%= shopping_address.shopping_addresses_phone_number %></p>

      <%= link_to '編集', edit_shopping_address_path(shopping_address), class:"btn btn-primary" %>
      <%= link_to '削除', shopping_address_path(shopping_address), method: :delete, class:"btn btn-primary" %>

    </div>
  <% end %>
</div>

<%= paginate @shopping_addresses %>