<div class="row">
    <div class="col-md-3">
    <%= render 'layouts/category_continent' %>
    </div>

    <div class="col-md-9">
    <% @category.each do |item| %>
        <div class="row">
            <div class="col-md-4">
                <%= attachment_image_tag item, :jacket_image, :fill, 100, 100 %>
            </div>
            <div class="col-md-8">
                <p><%= item.item_name%></p>
                <p><%= item.label_name%></p>
                <p><%= (item.price * 1.08).floor%></p>
                <p><%= link_to "詳細を見る", item_path(item.id) %></p>
            </div>
        </div>
    <% end %>
    </div>
</div>