<div class="row">
    <div class="col-md-3">
        <%= render 'layouts/category_continent' %>
    </div>

    <div class="col-md-9 itme-index-border">
        <% @items.each do |item| %>
            <div class="row border-item">
                <div class="col-md-4">
                    <%= attachment_image_tag item, :jacket_image, :fill, 150, 150, fallback: "m_e_others_500.png", size:'150x150' %>
                </div>
                <div class="col-md-8">
                    <p class="index-font"><%= item.item_name%></p>
                    <p class="index-font"><%= item.label_name%></p>
                    <p class="index-font"><%= (item.price * 1.08).floor%></p>
                    <p class="index-font"><%= link_to "詳細を見る", item_path(item.id) %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>