<div class="row">
    <div class="col-md-3">
        <%= render 'layouts/category_continent' %>
    </div>

    <div class="col-md-9">
        <% @items.each do |item| %>
            <%= link_to item_path(item.id) do%>
            <div class="row">
                <div class="col-md-4">
                    <%= attachment_image_tag item, :jacket_image, :fill, 100, 100, fallback: "m_e_others_500.png", size:'110x110' %>
                </div>
                <div class="col-md-8">
                    <p><%= item.item_name%></p>
                    <p><%= item.artist.name %></p>
                    <p><%= item.label_name%></p>
                    <p>¥<%= ((item.price * 1.08).floor).to_s(:delimited)%>円</p>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
</div>