<div class="row">
    <div class="col-md-3">
        <%= render 'layouts/category_continent' %>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-7">
                <%= attachment_image_tag @item, :jacket_image, :fill, 250, 250,  fallback: "m_e_others_500.png", size:'250x250'  %>
            </div>
            <div class="col-md-5">
                <h4>商品名 <%= @item.item_name %></h4>
                <h4>レーベル <%= @item.label_name %></h4>
                <h4>アーティスト <%= @item.artist.name %></h4>
                <h4>ジャンル <%= @item.genre.name %></h4>
                <h4>価格 <%= (@item.price * 1.08).floor %></h4>
                <h4>販売状況 <%= @item.sales_management %></h4>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <% if current_user&.cart_items&.find_by(item_id: @item.id) %>
            <p>商品は既にカートに追加されています！</p>
        <% else %>
            <% if user_signed_in? %>
                <%= form_for(@cart_item, url: carts_path) do |f| %>
                    <%= f.hidden_field :item_id, value: @item.id %>
                    <%= f.select :quantity, options_for_select((1..@stock).to_a, 1) %>
                    <%= f.submit 'カートへ追加', class:"btn btn-primary" %>
                <% end %>
            <% end %>
        <% end %>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>収録内容</h3>
            <% @item.disks.each do |disk| %>
                <h4><%= disk.name %></h4>
                <table class="table">
                    <tr>
                        <th>順</th>
                        <th>曲名</th>
                    </tr>
                    <% disk.musics.each do |music| %>
                        <tr>   
                            <td><%= music.song_order %></td>
                            <td><%= music.name %></td>
                        </tr>
                    <% end %>
                </table>
            <% end %>
    </div>
</div>