<div class="category-box">
    <div class="category-logo">
        <span class="logo-text">Continent</span>
    </div>
    <div class="category-group">
        <p class="category"><%= link_to "America", categoryr_path("America"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Europe", categoryr_path("Europe"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Africa", categoryr_path("Africa"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Asia", categoryr_path("Asia"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Oceania", categoryr_path("Oceania"), class:"category-link" %></p><br>
    </div>
</div>


