
            <div class="sidebar">
                <h3>Continent</h3>
                <p><%= link_to "America", categoryr_path("America") %></p><br>
                <p><%= link_to "Europe", categoryr_path("Europe") %></p><br>
                <p><%= link_to "Africa", categoryr_path("Africa") %></p><br>
                <p><%= link_to "Asia", categoryr_path("Asia") %></p><br>
                <p><%= link_to "Oceania", categoryr_path("Oceania") %></p><br>
            </div>


