<body>
     <header class="navbar navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>World Collectors</span>
      <span class="text-right" %= user.name %></span>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to " MYpage ", user_path(current_user) %></li>
          <li><%= link_to " logout ", destroy_user_session_path, method: :delete %></li>
           <li><%= link_to " cart", carts_path, class: "glyphicon glyphicon-shopping-cart" %></li>
           <li>
            <%= search_form_for @search, url: root_path do |f| %>
              <%= f.text_field :item_name_cont, placeholder: '名前を入力...' %>
              <%= f.submit ("検索する") %>
            <% end %>
           </li>
      </ul>
    </nav>
  </div>
</header>
</body>