<!DOCTYPE html>
<html>
  <head>
    <title>WorldCollectors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if user_signed_in? %>
        <%= render 'layouts/login_header' %>
      <% elsif administrator_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/not_login_header' %>
      <% end %>

    <div class="container">
      <%= yield %>
    </div>

      <%= render 'layouts/footer' %>
  </body>
</html>
