<table>
 <tr>
                <td>Continent</td>
                <td><%= link_to "America", category_path(America) %></td>
                <td><%= link_to "Europe", category_path(Europe) %></td>
                <td><%= link_to "Africa", category_path(Africa) %></td>
                <td><%= link_to "Asia", category_path(Asia) %></td>
                <td><%= link_to "Oceania", category_path(Oceania) %></td>

 </tr>
<table>