

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <h4>名前（姓・名）</h4>
  <%= f.text_field :first_name %><%="　"%><%= f.text_field :last_name %><br>
  <h4>名前（カナ姓・カナ名）</h4>
  <%= f.text_field :kana_first %><%= f.text_field :kana_last %><br>
  <h4>郵便番号</h4>
  <%= f.text_field :postal_code %><br>
  <h4>住所</h4>
  <%= f.text_field :address %><br>
  <h4>メールアドレス</h4>
  <%= f.text_field :email %><br>
  <h4>パスワード</h4>
  <%= f.text_field :encrypted_password %><br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>
